---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleCard from "../../components/articles/ArticleCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const posts = (await getCollection("blog")).sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);

	return paginate(posts, { pageSize: 5 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1);

// SEO properties
const title =
	page.currentPage === 1 ? "Blog" : `Blog - Page ${page.currentPage}`;
const description =
	"The undead musings of Lorenzo di Lume Nero—full stack developer, vampire, and former cooper. Coding tales, dark tech humor, and supernatural insights from Transylvania's bleeding-edge dev scene.";
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<header class="mb-20 max-w-2xl">
			<h1 class="text-4xl md:text-6xl font-black tracking-tight mb-8">
				Brainstorms & Breakthroughs...
			</h1>

			<p>
				One of the words that best describes me is learning, because I believe every day is an opportunity to gain new knowledge and feed my curiosity, 
				that is something that I consider essential. In this part of my blog, I want to share all my brainstorms and breakthroughs.
			</p>
		</header>

		
	</div>
</BaseLayout>
