---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import heroImageDark from "../images/about-me.jpg";
import heroImageLight from "../images/about-me.jpg";
import FeaturedArticles from "../components/articles/FeaturedArticles.astro";
import Projects from "../components/Projects.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
---

<BaseLayout>
	<!-- Hero section -->
	<div class="mx-auto lg:max-w-4xl mt-40 mb-20">
		<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-16">
			<div>
				<h1
					class="text-3xl sm:text-5xl font-bold tracking-tight text-balance"
				>
					Hi, I'm Berta!
				</h1>
				<div class="mt-8 leading-8">
					<p>
						I’m an electronic engineering student with a specialization in robotics. 
						I’m passionate about artificial intelligence and robotics.
						I’m someone who sees problems as new challenges. I enjoy finding solutions and making things happen. 
						I love working with others, leading projects, and creating a space where everyone feels heard and respected.
						Learning is a big part of who I am. I believe every day is a new chance to improve and explore something new.
						One day, I hope to make the world a better place by building my own enterprise.
					</p>
				</div>
			</div>

			<div class="order-first lg:order-last flex-shrink-0 mb-8">

				<Image
					src={heroImageLight}
					alt="Code. Blood. Mild workplace horror."
					class="block dark:hidden  rounded-full  size-20 lg:size-[200px] object-cover ring-1 ring-slate-400/30 shadow"
				/>
				<Image
					src={heroImageDark}
					alt="Code. Blood. Mild workplace horror."
					class="hidden dark:block rounded-full size-20 lg:size-[200px] object-cover ring-1 ring-slate-400/30 shadow"
				/>
			</div>
		</div>
	</div>

	<!-- Hobbies -->

	<div class="my-16 sm:my-30">
	<div class="mx-auto lg:max-w-4xl text-center">
		<h2 class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20">
		My certifications
		</h2>

		<!-- Llista de hobbies -->
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
		<!-- Hobby 1 -->
		<div class="flex flex-col items-center">
			<img
			src="/images/consulting.jpg"
			alt="Sports"
			class="rounded-xl w-48 h-48 object-cover shadow-md"
			/>
			<p class="mt-4 text-lg font-semibold">Management Consulting by Emory University</p>
		</div>

		<!-- Hobby 2 -->
		<div class="flex flex-col items-center">
			<img
			src="/images/AI.jpg"
			alt="Going shopping"
			class="rounded-xl w-48 h-48 object-cover shadow-md"
			/>
			<p class="mt-4 text-lg font-semibold">IBM Generative AI Engineering Professional Certificate</p>
		</div>
		</div>
	</div>
	</div>


	<!-- Projects -->
	<div class="my-16 sm:my-30">
		<div class="mx-auto lg:max-w-4xl">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Education - You can see my hole background in my CV page :)
			</h2>
		</div>

	</div>


</BaseLayout>
